.app {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.search-books input {
  padding: 10px;
  width: 40%;
  margin: 20px 0;
}

.search-box button {
  position: absolute;
  border: none;
  border-radius:0px 7px 7px 0px;
  margin: 20px 0;
  font-size: 16px;
  cursor: pointer;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
}

.book-card h3 {
  margin: 0;
  font-size: 1.2em;
}

.book-card p {
  font-size: 0.9em;
  color: #666;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  border-radius: 7px;

}

button:hover {
  background-color: #21a1f1;
}
